* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;  
    background: white;
    min-height: 100vh;
}
section {
    position: relative;

}

section ::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    
}