* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

.intro {
	font-family: "Nosifer", cursive;
	margin: 0.1em;
	color: white;
	padding-left: 0.5em;
	font-size: 1cm;
	text-align: center;
}

.description {
	font-family: "Itim", cursive;
	color: black;
	padding-left: 0.25em;
	font-size: 1cm;
	text-decoration: overline;
	border: #fc6d6d;
	text-align: center;
}
body {
	background: darkcyan;
	display: flex;
	min-height: 100vh;
	justify-content: center;
}
.wrapper {
	display: inline-flex;
	margin: 5%;
	margin-left: 20%;
	font-family: 'Girassol', cursive;
}
.wrapper .static-txt {
	font-size: 60px;
	color: #f1c40f;
	font-weight: 400;
	margin-top: 0.25cm;
}
.wrapper .dynamic-txts {
	align-content: center;
	line-height: 90px;
	height: 90px;
	overflow: hidden;
}
.dynamic-txts li {
	list-style: none;
	font-size: 60px;
	font-weight: 500;
	color: #f39c12;
	position: relative;
	top: 0;
	margin-left: 0.5cm;
	animation: slide 6s steps(4) infinite;
}
.dynamic-txts li span {
	position: relative;
}
.dynamic-txts li span::after {
	content: "";
	position: absolute;
	left: 0;
	height: 100%;
	width: 100%;
	background: darkcyan;
	border-left: 2px solid #fc6d6d;
	animation: typing 1.5s steps(11) infinite;
}

@keyframes typing {
	100% {
		left: 100%;
		margin: 0 -35px 0 35px;
	}
}

@keyframes slide {
	100% {
		top: -360px;
	}
}
